@import "tailwindcss";

@theme {
  --color-white: #F5F5DC;
  --color-neutral-bg: #EAE6DF;
  --color-slate: #1F2937;
  --color-deep-teal: #1B4D3E;
  --color-coral: #D8D3CC;
}

@layer base {
  body {
    @apply bg-neutral-bg text-slate font-sans m-0;
  }
}

@layer utilities {
  .logo-optimize {
    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges;
  }
}
