@import "tailwindcss";

@theme {
  --color-white: #F5F5DC;
  --color-neutral-bg: #EAE6DF;
  --color-slate: #1A2421;
  --color-deep-teal: #1B4D3E;
  --color-coral: #D8D3CC;
}

@layer base {
  body {
    @apply bg-neutral-bg text-slate font-sans m-0;
  }
}
